div.deepak {
    
    overflow: auto;
    white-space: nowrap;
  }
  /*
  div.card{
    background-color: aquamarine;
  }
*/

div.deep{
  background-color: orange !important;
}
body{
  background-image: url('../image/bg.png');
  background-repeat: repeat-y;
  
  -webkit-background-size: 100% 100%;

  -moz-background-size: 100% 100%;

  -o-background-size: 100% 100%;
  
  background-size: 100%;

  
}

  div.deepak {
    display: inline-block;
    color: white;
    text-align: center;
    padding-left: 68%;
    text-decoration: none;
  }
  
button.btn:hover{
  background-color: aqua;
  color:#042fb0 !important;
}  

div.deepak::-webkit-scrollbar { 
    display: none;  
 }

 div.deepak {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
}

div.Image_wrap:hover div.upload{
  visibility:visible; 
  
}

a {
  color:aqua !important;
}

div.upload {
  visibility: hidden;
}